body {
  font-family: 'Roboto Condensed', 'Tahoma', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.6px;
  color: #242121;
  background-color: #fff;
}

.header {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%);
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  position: relative;
  margin: 0 auto;
  margin-bottom: 100px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #01353E;
}

.title::after {
  content: "/";
  position: absolute;
  top: 0;
  font-weight: 600;
  font-size: 72px;
  line-height: 1.2;
  color: #00B2A0;
}


.header__top {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  padding-top: 35px;
}

.logo {
  transition: transform 0.2s ease-in;
}

.logo:hover {
  transform: scale(1.1);
}

.header__logo {
  margin-right: 185px;
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 42px;
}

.menu__link {
  padding: 0 2px 10px;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s ease-in;
}

.menu__link:hover {
  border-bottom-color: #00b2a0;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 98px);
}

.header__title {
  margin: auto 0;
  font-weight: bold;
  font-size: 200px;
  line-height: 1.2;
  font-family: 'Raleway', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #0D302C;
}

.header__subtitle {
  text-align: center;
  margin-bottom: auto;
  font-family: 'Roboto Condensed', 'Tahoma', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: none;
  color: #000000;
}

.header__icon {
  margin-bottom: 92px;
  width: 20px;
  height: 80px;
  background-image: url("../images/header-icon.svg");
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in;
}

.header__icon:hover {
  transform: translateY(-5px);
}

/* === / header === */

/* === about === */
.about {
  padding: 190px 0 220px;
}

.about__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__text p {
  max-width: 480px;
  margin-right: 120px;
}

.about__text p:not(:last-child) {
  margin-bottom: 25px;
}

/* === / about === */

/* === school === */
.school {
  padding: 160px 0 180px;
  background-color: #f8f8f8;
}

.school__items {
  display: flex;
  justify-content: space-between;
  /* для пп */
  margin-bottom: 70px;
}

.school__item {
  max-width: 350px;
}

.school__service {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-left: 75px;
  max-width: 220px;
  min-height: 55px;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #242121;
}

.school__service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.school__service--hotel::before {
  background-image: url('../images/icon1.svg');
}

.school__service--flight::before {
  background-image: url('../images/icon2.svg');
}

.school__service--training::before {
  background-image: url('../images/icon3.svg');
}

.school__descr {
  max-width: 350px;
}

/* === wawe === */

.school__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.school__info {
  width: 295px;
}

.school__wave {
  position: relative;
  padding-bottom: 20px;
  line-height: 1.3;
  background-image: url("../images/wawe-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}


.school__descr {
  display: inline-block;
  margin-top: 15px;
}

.school__num {
  position: absolute;
  top: -10px;
  right: -50px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
}

.school__text {
  max-width: 600px;
  padding-top: 30px;
}

.school__text p {
  padding-bottom: 30px;
}

/* === / school === */

/* === motivation === */

.motivation__bg {
  padding: 170px 0 145px;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 50%;
}

.motivation__title {
  margin-bottom: 100px;
  /* для пп */
  padding-top: 17px;
  text-align: left;
}

.motivation__text {
  max-width: 507px;
}

.motivation__text p {
  margin-bottom: 30px;
}

/* === / motivation ===*/


/* === gallery === */
.gallery {
  padding: 170px 0 200px;
}

.gallery__title {
  padding-bottom: 110px;
}

.gallery__filter {
  margin-bottom: 40px;
  font-family: 'Roboto Condensed', 'Tahoma', sans-serif;
}

.gallery__btn {
  font-size: 24px;
  font-weight: 400;
  color: #242121;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: border-bottom-color 0.2s ease-in;
}

.gallery__btn:not(:last-child) {
  margin-right: 5px;
}

.gallery__btn:hover {
  border-bottom-color: #00B2A0;
}

.gallery__btn:focus {
  outline-color: #00B2A0;
}

.mixitup-control-active {
  color: #00b2a0;
}

.gallery__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.gallery__item {
  position: relative;
  margin: 0 20px 40px;
}

.gallery__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.gallery__link:hover {
  opacity: 0.7;
}

.gallery__wrap {
  display: block;
  margin: 0 auto;
  padding: 10px 0 200px;
  text-align: center;
}

.gallery__more {
  display: inline-block;
  padding: 23px 91px;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  border: 1px solid #c4c4c4;
  color: #242121;
  transition: color 0.2s ease-in, border-color 0.2s ease-in;
}

.gallery__more:hover {
  color: #00B2A0;
  border-color: #00B2A0;
}

.blockquote {
  margin-bottom: 200px;
  padding: 80px 0;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.1;
  background-color: #f8f8f8;
  color: #242121;
}

.blockquote__wrap {
  position: relative;
}

.blockquote__author {
  position: absolute;
  display: block;
  right: -150px;
  top: 40px;
  font-size: 14px;
}

.gallery__video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
}

.gallery__video-link img {
  transition: transform 0.2s ease-in;
}

.gallery__video-link img:hover {
  transform: scale(1.1);
}

.gallery__numbers {
  display: flex;
  justify-content: center;
  text-align: center;
}

.gallery__num {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 64px;
  line-height: 1.2;
  color: #01353E;
}

.gallery__num:not(:last-child) {
  margin-right: 90px;
}

.gallery__num span {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  color: #242121;
}

/* === / gallery === */